.home-maindiv {
    height: 100vh;
    background-image: url('../images/new.jpg');
    background-size: cover;
  }
  
  .todolist-quotes {
    font-feature-settings: "smcp";
    /* font-variant: small-caps; */
    color: rgb(255, 255, 255);
    margin-left: 10px;
    margin-top: -20px;
  
  }
  
  .signup-login-div{
    margin-left: 15px;
    margin-top: 10px;
  }
  
  .signup-button {
    background-color: transparent !important;
    background-repeat: no-repeat !important;
    border: 2px solid black !important;
    height: 60px !important;
    width: 150px;
    margin: 10px;
  }
  
  .signup-button:hover {
    font-size: 30px;
  
  }
  
  .signuplink{
    text-decoration: none !important;
    color: black;
  }
  
  .signup-guestbutton{
    height: 60px !important;
    background-color: transparent !important;
    background-repeat:no-repeat !important;
    border: 2px solid black !important; 
    width: 300px;
    color: #1976d2;
    margin-left: 10px;
  
  }
  .signup-guestbutton :hover{
    font-size: 25px;
  }